html, body {
    font-family: 'Oxanium', sans-serif;
    background-color: #f0f0f0;
}

a  {
    color: #212529;
    transition: all .2s;
}

a:hover {
    color: #d3d3d3;
}

.navbar-bg-white {
    background-color: #fff;
    border: 1px solid #d3d3d3;
}

.navbar-container {
    max-width: 950px;
    font-size: 0.875rem;
    padding: 10px 0px 10px 0px;
}

.content-container {
    max-width: 950px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 0px;
}

.pagination-block {
    margin-bottom: 30px;
}

.about-snippet-block {
    background-color: #fff;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    padding: 20px;   
}

.about-page-block {
    background-color: #fff;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 30px;
}

.post-page-block {
    background-color: #fff;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 30px;
}

.no-border-top {
    border-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.post-image {
    border: 1px solid #d3d3d3;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.post-image-home {
    border: 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.no-padding-left-right {
    padding-right: 0px;
    padding-left: 0px;
}

.auto-margin {
    margin-top: auto;
    margin-bottom: auto;
}

.single-post-home {
    background-color: #fff;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 30px;
}

.p-small-one {
    font-size: 0.875rem;
}

/* date */
.p-small-two {
    font-size: 0.800rem;
    font-style: italic;
}

/* per escludere i dispositivi mobile */
@media (min-width: 768px) {
    .single-post-home {
        margin-left: 30px;
    }
    
    .about-page-block {
        margin-left: 30px;
    }

    .post-page-block {
        margin-left: 30px;
    }

    .post-image-block {
        margin-left: 30px;
    }

    .pagination-block {
        margin-left: 30px;
    }
}

@media (min-width: 768px) {
    .nav-link {
        padding-right: 0px !important;
        padding-left: 1rem !important;
    }
}

.read-more {
    color: #6c757d;
    text-decoration: underline;
}

.read-more:hover {
    color: #343a40 !important;
}

.custom-link {
    color: #000;
}

.custom-link:hover {
    color: #343a40;
    text-decoration: none;
}

/* Styling for the footer */
.list-inline {
    padding: 50px 0 65px;
    margin: 0;
    padding: 0;
}

.copyright {
    padding: 50px 0 65px;
    font-size: 14px;
    margin-bottom: 0;
    text-align: center;
}
