<div class="about-snippet-block text-center">
  <figure class="hover-img">
  <img class="img-fluid" src="{{ url_for('static', filename='img/just-me.jpg') }}" alt="">
  <figcaption>
      <p>Data Scientist Wannabe</p>
    </figcaption>
  </figure>
  <p class="p-small-one"><strong>Daniele Salerno</strong></p> 
  <p class="p-small-one">Date if Birth: 30/12/1992</p>
  <p class="p-small-one">Education: Bachelor's Degree in Computer Science</p>              
  <hr>
  <p class="p-small-one text-muted">I am a python developer with a strong interest for Data Science, with the aim of joining full time in the world of Machine Learning!</p>
  
</div>