{% extends 'base.html' %}

{% block title %}About Me{% endblock %}

{% block content %}
<div class="container content-container">

    <div class="row no-gutters">

        <div class="col-md-9 order-md-2">
            <div class="about-page-block">
                <p class="lead">About Me.</p>
                <hr>
                <p>
                Currently I'm working as a Python Developer witha focus on Django and JQuery
                </p> 
                <p>
                I am determined to make artificial intelligence the main activity of my job. To
                achieve this goal, in addition to my daily professional activity, in my free time I
                dedicate myself to the study of Machine Learning (SKLearn), Deep Learning
                (Keras and Tensorflow) and Computer Vision (OpenCV) through online courses (Udemy) and not (Geeks Academy in
                Milan). I also like exercise myself on Kaggle.
                </p>
                <p>
                Through the current company I also joined some workshops on the same topics at
                IBM Client Innovation Center in Milan.
                </p>
                <p>
                I recently started sharing my experiences on data science on the Medium online platform
                </p>
                <hr>
                <a class="btn btn-sm btn-outline-secondary mouse-cursor-gradient-tracking" href="{{ url_for('contact') }}">Contact Me</a>
            </div>    
        </div>

        <div class="col-md-3 order-md-1">
            {% include 'about_me_snippet.html' %}              
        </div>

    </div>
    
</div>
{% endblock %}